## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import sys
sys.path.append("..")
# Import API key
from config import g_key

import os
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv(os.path.join("..", "Vacation_Search", "WeatherPy_vacation.csv"))
vacation_df.head()

   City_ID            City Country  Max Temp      Lat       Lng  Hotel Name
0        1         Labuhan      ID     79.11  -6.8844  112.2051         NaN
1        2        Saldanha      ZA     68.02 -33.0117   17.9442         NaN
2        7  Guerrero Negro      MX     67.53  27.9769 -114.0611         NaN
3        9        Cherskiy      RU     69.48  68.7500  161.3000         NaN
4       11          Vieste      IT     67.23  41.8825   16.1750         NaN

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
Start_City = "Durham"
End_City = "Durham"
City_2 = "Mayo"
City_3 = "Elizabeth City"
City_4 = "Havelock"

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == Start_City]
vacation_end = vacation_df.loc[vacation_df["City"] == End_City]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == City_2]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == City_3] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == City_4]

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING" )
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

   City_ID            City Country  Max Temp      Lat      Lng  Hotel Name
0      196          Durham      US     80.92  36.0335 -78.8664         NaN
1      203            Mayo      US     87.96  38.8876 -76.5119         NaN
2      350  Elizabeth City      US     85.01  36.2946 -76.2511         NaN
3      359        Havelock      US     80.55  34.8791 -76.9013         NaN

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))